@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    /* Optional: use a custom font */
    margin: 0;
    padding: 0;
    background-color: #f9fafb;
    /* Light gray background */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: bold;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.my-pic {
background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("images/d3.jpg");
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.lt{
    font-family: cursive;
    font-size: 3.2rem;
}
.lp{
    font-family: monospace;
    font-size: 2.2rem;
}
.lb {
    font-family: monospace;
    font-size: 1.2rem;
}